<div class="page-content is-relative">

    <div class="list-view-toolbar">
        <div class="buttons">
            <a class="button h-button is-primary is-elevated" [routerLink]="['../Create']">
                <span>Crear</span>
            </a>
        </div>
    </div>

    <div class="page-content-inner">
        <!--List-->
        <div class="list-view list-view-v1">

            <!--List Empty Search Placeholder -->


            <div class="list-view-inner">
                <!--Item-->
                <div class="list-view-item" *ngFor="let item of listLibraries">
                    <div class="list-view-item-inner">
                        <div class="meta-left">
                            <h3>{{ item.name }}</h3>
                            <span>
                              <i data-feather="map-pin"></i>
                              <span>{{ item.location }}</span>
                            </span>
                        </div>
                        <div class="meta-right">

                            <div class="tags buttons">
                                <a class="button h-button is-primary is-outlined" [routerLink]="['../Books', item.id]">Ver Libros</a>
                                <a class="button h-button is-primary" [routerLink]="['../Edit', item.id]">
                                    Editar
                                </a>
                                <button class="button h-button is-danger" (click)="delete(item.id)">
                                    Eliminar
                                </button>
                            </div>

                            <div class="stats">
                                <div class="stat">
                                    <span>24</span>
                                    <span>Libros</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>