<div class="user-grid-toolbar">
    <h1>Libros</h1>

    <div class="buttons">
        <button class="button h-button is-primary is-raised" (click)="openDialogBook()">
            <span>Agregar</span>
        </button>
        <a [routerLink]="['/Home/Libraries/Main']" class="button h-button is-primary is-outlined">
            <span>Regresar</span>
        </a>
    </div>
</div>

<div class="page-content-inner">

    <div class="user-grid user-grid-v1">

        <app-placeholder-empty *ngIf="isEmptyMessage"></app-placeholder-empty>

        <div class="columns is-multiline" *ngIf="!isEmptyMessage">
            <!--Grid item-->
            <div class="column is-3" *ngFor="let item of listBooks">
                <div class="grid-item">
                    <div class="h-avatar is-big">
                        <img class="avatar" src="assets/doc.svg">
                    </div>
                    <h3 class="dark-inverted">{{ item.name }}</h3>
                    <div class="people">
                        <span class="tag is-rounded is-primary is-elevated">{{ item.category }}</span>
                    </div>
                    <div class="buttons">
                        <button class="button h-button is-dark-outlined" (click)="openDialogBook(item)">
                            <span>Editar</span>
                        </button>
                        <button class="button h-button is-dark-outlined" (click)="deleteBook(item.id)">
                            <span>Eliminar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>